body {
    background-color: rgba(170, 233, 238, 0.164);
}

h1 {
    color: maroon;
}

.box {
    background-color: rgba(213, 3, 3, 0.197);
    width: 300px;
    /* height: 100px; */
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.user {
    font-style: italic;
}



.newbtn {
    padding: 10px;
    background-color: black;
    margin-left: 10px;
    border-radius: 50px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.newbtn a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

p {
    padding: 5px;
    background-color: rgba(241, 135, 135, 0.437);
    display: inline-block;
    border-radius: 50px;
}