body {
    background-color: rgba(170, 233, 238, 0.164);
}

h1 {
    color: maroon;
}

.box {
    background-color: rgba(213, 3, 3, 0.197);
    width: 300px;
    /* height: 100px; */
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.user {
    font-style: italic;
}