body {
    background-color: rgba(8, 8, 8, 0.137);
    padding: 0 20%;
}

h1 {
    color: maroon;
    z-index: 999;
}

.box {
    background-color: rgba(213, 3, 3, 0.197);
    width: 500px;
    /* height: 100px; */
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.user {
    font-style: italic;
}



.newbtn {
    padding: 10px;
    background-color: black;
    margin-left: 10px;
    border-radius: 50px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.newbtn a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

p {
    padding: 5px;
    background-color: rgba(241, 135, 135, 0.437);
    display: inline-block;
    border-radius: 50px;
}

button {
    margin-top: 10px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px;
    cursor: pointer;
}