<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>this is a EJS home page </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ut amet laboriosam mollitia cum dolorem
        totam, error atque ad, adipisci odit, facilis magni iste illo ipsa tempora cumque dolor a.
        Voluptates culpa tempora reiciendis vel sint soluta ratione, possimus repellat reprehenderit excepturi officia
        impedit aperiam quidem nihil libero. Tempore libero distinctio inventore soluta. Autem consequatur doloribus,
        assumenda optio nesciunt unde.
        Commodi earum sunt, eveniet placeat sapiente cupiditate facilis ut eligendi modi esse debitis blanditiis minus
        magnam dolore suscipit velit voluptate expedita odio ipsa nulla voluptatum laudantium libero ipsum
        necessitatibus. Alias!
        Dolorum accusantium possimus laudantium ipsam. Sapiente exercitationem ipsa ex dicta corrupti molestiae amet
        quidem, quam ipsum? Saepe perferendis, doloremque quidem fugiat doloribus est, magnam perspiciatis aliquam quia
        accusamus reprehenderit tenetur!
        Aperiam veritatis neque iusto et saepe accusamus officia? Adipisci impedit quibusdam hic in voluptate quia
        perspiciatis asperiores! Necessitatibus, modi eum, labore suscipit maxime corrupti reprehenderit veritatis, sunt
        libero totam aliquam?
        Veniam officia labore deserunt? Facere maiores mollitia eaque ab esse in iure neque. Quis veritatis mollitia at
        quisquam saepe, omnis non eum iste inventore consequatur ullam voluptatum exercitationem in adipisci.
        Unde possimus voluptates commodi quo quam quisquam numquam ullam pariatur maiores modi non amet, fugit impedit
        nesciunt tempore, id officia. Libero, in impedit. Alias et adipisci quis blanditiis esse aut.
        Nemo id commodi repudiandae, dolorum hic eos numquam aperiam tempore perspiciatis placeat. Quo minus, iure
        corrupti suscipit reprehenderit ipsum minima error illum rerum maiores. Ex maxime maiores praesentium!
        Perspiciatis, id.
        Amet explicabo corporis, consequuntur temporibus perferendis molestiae sapiente architecto quaerat sit id
        repellat quis, laudantium libero ipsum! Soluta, aliquam recusandae rerum impedit eveniet non unde neque culpa
        ipsa distinctio pariatur.
        Harum nobis placeat mollitia soluta porro debitis facere illum? Reiciendis voluptatem porro debitis quo dolores,
        itaque commodi praesentium quis amet, labore aspernatur magni deleniti blanditiis quisquam totam ipsum in quas.
        Eveniet, consequuntur eligendi! Rerum temporibus eius itaque recusandae beatae, eligendi eveniet incidunt
        exercitationem commodi ut cumque dignissimos amet fugiat veritatis adipisci laboriosam ullam officia. Quia sequi
        possimus modi dolorum eum.
        Quasi ipsa est et praesentium quidem, accusamus suscipit quibusdam quam, assumenda pariatur aperiam, alias
        tempora aliquid voluptatibus harum architecto saepe nulla libero! Aliquid odio eligendi, ratione aspernatur
        quibusdam vitae porro.
        In excepturi natus eveniet doloribus quasi ipsa autem, cum consectetur rerum. Quam commodi magnam cum aliquid
        debitis tempora voluptatem. Distinctio sed expedita asperiores pariatur accusantium doloremque, optio
        exercitationem quaerat! Unde.
        Et odio ad voluptatum velit animi, possimus accusantium veniam iste soluta, quidem repellat corrupti aspernatur
        sequi in autem, ipsum unde perferendis temporibus. Dolorum debitis aut quasi quo voluptate iure adipisci!
        Eligendi minima alias maiores, corporis ab molestias fuga commodi! Repellat asperiores, quaerat dolore hic sit
        error quam similique ratione id, porro voluptates saepe! Ex consequatur hic accusantium molestiae, natus
        inventore.
        Deleniti eos commodi doloribus nemo qui mollitia veritatis omnis iure fugit repellat officiis autem aperiam
        vitae reiciendis dolor error, quod voluptates distinctio labore sunt facere cum ex beatae. Saepe, commodi.
        Quis, nam. Assumenda hic perspiciatis repellendus tenetur consectetur voluptates, quo harum incidunt atque, unde
        magni corporis fuga dicta recusandae reiciendis. Quo blanditiis consectetur aspernatur modi adipisci id
        molestiae sapiente error!
        Magnam reiciendis consequuntur nam quidem. Aliquid rerum unde velit delectus quod hic nemo praesentium culpa
        debitis laborum laboriosam, deserunt odio maxime, officiis possimus id assumenda totam asperiores, excepturi
        temporibus ut?
        Repellat explicabo hic quo ut iure! Soluta quos blanditiis quas. Harum perferendis, incidunt aliquam
        perspiciatis sunt optio, nisi quibusdam est maxime, reprehenderit dolor fugiat! Quasi harum quam amet unde sunt!
        Illo voluptate praesentium aspernatur ipsam beatae modi quisquam iste aperiam quos quas. Ipsum neque nobis error
        eligendi consequuntur libero nemo, incidunt obcaecati, laudantium, hic veritatis autem inventore atque! Nisi,
        rem!</p>

    <button>click me!</button>
</body>

</html>